<! DOCTYPE html>
<html>
<head>
    <title>All Films</title>
    <meta charset="UTF-8">
</head>
<body>
<%= hahaha %>
<%- hahaha %>
    <table>
        <% for(let f of films) { %>
            <tr><td><%= f.film_id %></td><td><%= f.title %></td></tr>
        <% } %>
    </table>
</body>
</html>