<! DOCTYPE html>
<html>
<head>
    <title>All Films</title>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <h1><%= film.title %></h1>
    <p><%= film.description %></p>
</table>
</body>
</html>