p {color:blueviolet;  /*tous les p du document*/
font-family: Arial, sans-serif;
line-height: 18px;}

section > h1 { /*tous les h1 qui sont enfant direct de section*/
    background-color:red;
}

section h1 /*tous les h1 enfant de section, toutes descendances*/ {
    font-size: 54px;
    background-color: crimson;
}

section {
    border-bottom: 1px solid #ccc;
}